.body{
    background: rgb(194, 213, 211);
    font-family: 'Roboto', sans-serif;
}
.content{
    margin:20px 5% 5%;
    display:grid;
    gap:3%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
}
@media (max-width:1350px){
    .content{
        grid-template-columns:1fr 1fr 1fr 1fr;
    }
}
@media (max-width:1080px){
    .content{
        grid-template-columns:1fr 1fr 1fr ;
    }
}

@media (max-width:800px){
    .content{
        grid-template-columns:1fr 1fr ;
    }
}
@media (max-width:560px){
    .content{
        margin:20px 9% 5%;
        grid-template-columns:1fr ;
    }
}
.note{
    
    display:flex;
    margin-top: 20px;
    flex-wrap: nowrap;
    flex-direction: column;
    border-radius: 8px;
    background:rgb(200, 250, 242) ;
    box-shadow: 6px 6px 6px 0px rgba(0,0,0,0.46);
}
.note-title{
    text-align: center;
    font-size: 26px;
    height:50px;
    vertical-align:middle ;
    border-radius: 8px 8px 1px 1px;
    font-weight: 500;
    padding: 2%;
   color: aliceblue;
    background-color: rgb(56, 87, 84);
    
}
.note-body{
    
    font-weight: 400;
    font-size: 18px;
    color: rgb(51, 51, 51);
    padding: 5%;
    flex: 6;
    min-height: 200px;
}
.note-body p{
    padding: 4%;
    font-size:20px;
}
.note-dl{
    color: rgb(135, 135, 135);
    padding: 5%;
    padding-top: 8%;
    flex:1;
}
.note-action{
    flex: 1;
    flex-shrink: 1;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    border-radius: 10px;
}
.edit,.delete,.status{
   
    flex:1;
    flex-shrink: inherit;
    
}



.cards{
    margin-top:100px;
}
.header-name{
    flex:12;
    text-align: center;
    color: aliceblue;
    font-size: 40px;
    padding-top: 12px;
    vertical-align: middle;
}.link-logout{
    flex:1;
    cursor:pointer;
    text-align: end;
}

.header a,.header a:hover{
    text-decoration: none;
    color: inherit;
}
.header{
    position: fixed;
    height:70px;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 100;
    margin-bottom: 100px;
}
.link-main,.link-login,.link-signup,.cat-button{
    flex: 1;
 
    cursor: pointer;
    text-align: center;
  
    
}
.filter-check{
    margin:90px 5% 2%;
    display:flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: center;    
}